<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    .switch {
      position: absolute;
      top:10px;
      left: 800px;
      display: inline-block;
      width: 50px;
      height: 27px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 21px;
      width: 21px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(22px);
    }
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .company{
      position:relative;
      width: 1000px;
      height: 900px;
      border: 1px #333 solid;
      margin: 10px auto;
      overflow-y: scroll;
    }
    form{
      text-align: center;
    }
    textarea{
      width:900px;
      height:300px;
      overflow-x: auto;
      overflow-y: scroll;
      borader: 1px;
      -webkit-border-radius: 5px;
    }
    p{
      padding-left:10px;
    }
    .GG{
      position: relative;
      height:50px;
      margin: 10px;
      border: 1px #000 solid;
    }
    .delete_button{
      position: absolute;
      width:30px;
      height: 30px;
      top:10px;
      left: 900px;
    }
  </style>
</head>
<body>
  <div class="company" id="company">
    <button type="button" onclick="location.href='company_edit?company_id=<%= @company_id %>';">管理工司內容</button><br><br>
    <font class="left-text">職缺列表</font><button type="button" onclick="location.href='job_edit?company_id=<%= @company_id %>';">新增職缺</button><br><br>
    <div style="overflow-y:scroll; width: 1000px; height: 850px;">
      <% @job_all.each do |job| %>
          <div id="GG" class="GG">
            <font style="font-size:20px;"><%= job.job_name %></font><br>
            <%= job.company_name %>
            <label class="switch">
              <% if job.job_status %>
              <input type="checkbox" id="job_checkbox" checked job_id=<%= job.id %>>
              <% else %>
              <input type="checkbox" id="job_checkbox" job_id=<%= job.id %>>
              <% end %>
              <span class="slider round"></span>
            </label>
            <button type="button" class="delete_button" id="delete_button" job_id=<%= job.id %>>D</button>
          </div>
      <% end %>
  </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script type="text/javascript">
  $('#job_checkbox').on('click', function(e){
    var execute_id = this.getAttribute("job_id");
    // ajax request
    $.ajax({
      url: "/execute_state",
      type: "GET",
      data : {
        id: execute_id
      },
      dataType: "script",
    });
  });
  $('#delete_button').on('click', function(e){
    var execute_id = this.getAttribute("job_id");
    // ajax request
    $.ajax({
      url: "/execute_delete",
      type: "GET",
      data : {
        id: execute_id
      },
      dataType: "script",
    });
    this.parentNode.remove();
  });
</script>
</body>
</html>
