<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    .company{
      position:relative;
      width: 1000px;
      height: 900px;
      border: 1px #333 solid;
      margin: 10px auto;
    }
    .left-text{
      position:absolute;
      top: 5px;
      left: 10px;
    }
    .GG{
      height:50px;
      margin: 10px;
      border: 1px #000 solid;
    }
  </style>
</head>
<body>
  <% @company_target =  @company_all.find(@company_id) %>
  <div class="company" id="company">
    <h1><%= @company_target.company_name %></h1>
    <p>公司簡介</p>
    <div style="overflow-y:scroll; width: 1000px; height: 850px;">
      <p>公司簡介: <%= @company_target.company_info %></p>
      <p>公司理念: <%= @company_target.company_target %></p>
      <p>媒體報導: <%= @company_target.company_media %></p>
      <p>薪資福利: <%= @company_target.company_salary %></p>
      <p>職缺:</p>
        <% @company_all_job = @job_all.where(:company_name => @company_target.company_name, :job_status => true).to_ary %>
        <% @company_all_job.each do |job| %>
        <div id="GG" class="GG" onclick="location.href='job_info?job_id=<%= job.id %>';">
          <font style="font-size:20px;"><%= job.job_name %></font><br>
          <%= job.company_name %>
        </div>
      <% end %>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script>
var company = new Vue({
  el: '#company',
  data: {
    list: [
    ],
  },
});
company.list = [{ id: '123456789', name: '選項 1' , media: 'Hi', salary: '99999', job: ['aa22aaa','bbbbb','ccccc']}];

</script>
</body>
</html>
