<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    .company{
      position:relative;
      width: 1000px;
      height: 900px;
      border: 1px #333 solid;
      margin: 10px auto;
      overflow-y: scroll;
    }
    form{
      text-align: center;
    }
    textarea{
      width:900px;
      height:300px;
      overflow-x: auto;
      overflow-y: scroll;
      borader: 1px;
      -webkit-border-radius: 5px;
    }
    p{
      padding-left:10px;
    }
  </style>
</head>
<body>
  <div class="company" id="company">
    <form action="/formprocess.php" method="post">
      <input type="hidden" id="company_id" name="company_id" value=<%= @company_id %>>
      <input type="hidden" id="company_name" name="company_name" value=<%= @company_data.company_name %>>
      <p align="left">公司介紹</p>
      <textarea name="company_info" required><%= @company_data.company_info %></textarea>
      <p align="left">公司理念</p>
      <textarea name="company_target" required><%= @company_data.company_target %></textarea>
      <p align="left">媒體報導</p>
      <textarea name="company_media" required><%= @company_data.company_media %></textarea>
      <p align="left">薪資福利</p>
      <textarea name="company_salary" required><%= @company_data.company_salary %></textarea>
      <br>
      <input id="submit" class="submit" type="submit" value="儲存">
    </form>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script>
  $('#submit').click(function(e){
    e.preventDefault();
    var form = $('form')[0];
    var formData = new FormData(form);
    $.ajax({
        url:'execute_company',
        type : "POST",
        data : formData,
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        contentType: false,
        cache: false,
        processData: false,
        success : function(data)
        {
            location.href = "all_job_edit?company_id=<%= @company_id %>"
        },error: function(data)
        {
            console.log('無法送出');
        }
    })
});

</script>
</body>
</html>
