<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    .job{
      position:relative;
      width: 1000px;
      height: 900px;
      border: 1px #333 solid;
      margin: 10px auto;
    }
    .left-text{
      position:absolute;
      top: 5px;
      left: 10px;
    }
    .GG{
      height:50px;
      margin: 10px;
      border: 1px #000 solid;
    }
  </style>
</head>
<body>
  <% @job_target =  @job_all.find(@job_id) %>
  <div class="job" id="job">
    <h1><%= @job_target.job_name %></h1>
    <p>職缺簡介</p>
    <div style="overflow-y:scroll; width: 1000px; height: 850px;">
      <% @target_company = @company_all.where(:company_name => @job_target.company_name).to_ary %>
      <p onclick="location.href='company_info?company_id=<%= @target_company[0].id %>';">工司名稱: <%= @job_target.company_name %></p>
      <p>簡介: <%= @job_target.job_info %></p>
      <p>條件要求: <%= @job_target.job_require %></p>
      <p>公司福利: <%= @job_target.job_benefit %></p>
      <p>薪資範圍: <%= @job_target.salary_range %></p>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script>
var company = new Vue({
  el: '#company',
  data: {
    list: [
    ],
  },
});
company.list = [{ id: '123456789', name: '選項 1' , media: 'Hi', salary: '99999'}];

</script>
</body>
</html>
